html, body, #app {
  height: 100%;
}
.page{
  height: 100%;
  background: #000;
  position: relative;
  color: #fff;
  .span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%),
    linear-gradient(90deg, rgba(255,255,255,0) 40%, #fff 40%, #fff 60%, rgba(255,255,255,0) 60%),
    linear-gradient(45deg, rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%),
    linear-gradient(135deg, rgba(255,255,255,0) 43%, #fff 43%, #fff 57%, rgba(255,255,255,0) 57%);
    
    position: absolute;
    top: -30px;
    // animation: fall 3s;
    animation-iteration-count: infinite;
    transform-origin: center -30px;
    transform: translate3d(0, 0, 0);
  }
}
// 起始位置
@for $i from 1 through 100 {
  .animation[data-animation-position='#{$i}'] {
    left: #{$i}vw;
  }
}
// 速度
$timing: (
  linear: linear,
  ease: ease,
  ease-in: ease-in,
  ease-out: ease-out,
  ease-in-out: ease-in-out
);

@each $key, $value in $timing {
  .animation[data-animation-timing='#{$key}'] {
    transition-timing-function: $value;
  }
}

// 时间
@for $i from 1 through 4 {
  .animation[data-animation-delay='#{$i}'] {
    animation-delay: #{$i}s;
  }
}
@for $i from 4 through 8 {
  .animation[data-animation-duration='#{$i}'] {
    animation-duration: #{$i}s;
  }
}

// 下落动画
@keyframes fall {
  0%{
    top: -40px;
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    top: 100vh;
    opacity: 1;
  }
}

// 摇摆
@for $i from 1 through 4 {
  .animation[data-animation-name='#{$i}'] {
    animation-name: fall, swing#{$i};
  }
}
@for $i from 1 through 4 {
  @keyframes swing#{$i}{
    25% {
      transform: translateX(-#{$i * 10}px);
        }
    50% {
      transform: translateX(#{$i * 10}px);
    }
    75%{
      transform: translateX(-#{$i * 10}px);
        }
    100%{
      transform: translateX(#{$i * 10}px);
    }
  }
}